@import "tailwindcss";

:root {
  --bg-primary: #050816;
  --bg-secondary: #111827;

  --text-primary: #ffffff;
  --text-secondary: #94a3b8;

  --primary: #2563eb;
  --secondary: #06b6d4;

  --border: #1f2937;

  --radius: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

::selection {
  background: var(--primary);
  color: white;
}